@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

@font-face {
  font-family: "QUEENS";
  src: url("../public/fonts/QueensTrial-Bold.ttf");
}

@font-face {
  font-family: "CHARLOTTENBURG-CLASSIC";
  src: url("../public/fonts/CharlottenburgTrial-Classic.ttf");
}

@font-face {
  font-family: "CHARLOTTENBURG-COMPRESSED";
  src: url("../public/fonts/CharlottenburgTrial-Compressed.ttf");
}

@font-face {
  font-family: "QUEENS-SANS-EXTRA";
  src: url("../public/fonts/QueensSansExtraTrial-ExtraLight.ttf");
}

@font-face {
  font-family: "QUEENS-SANS";
  src: url("../public/fonts/QueensSansTrial-Light.ttf");
}

@layer base {
  body {
    @apply bg-amber-100
  }
  h1 {
    @apply font-['QUEENS']
  }
  * {
    @apply font-['QUEENS-SANS']
  }
}




